body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Getting started example */
#getting-started{
    border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;

    border: 1px solid #cccccc;
    margin-bottom: 20px;
    padding: 10px 0;
    text-align: center;
}

#getting-started span{
    border-radius: 2px;
    -o-border-radius: 2px;
    -ms-border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    background-color: #333333;
    color: #ffffff;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    line-height: 25px;
    padding: 5px;
}