
@{
    Layout = null;
}
    <!DOCTYPE HTML>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <div data-ng-app="app" data-ng-controller="mainCtrl as vm">
            <h3> Test Values Controller</h3>

            <div>
                <span data-ng-show="vm.isRegistered">User Registered Successfully</span><br />
                <span data-ng-show="vm.isLoggedIn">Hello : {{vm.userName}}</span><br />
                <span data-ng-show="vm.isLoggedIn">Your Bearer Token is : {{vm.bearerToken}}</span>
            </div>
            <br />
            <div>
                <input type="text" name="userName" placeholder="Name" data-ng-model="vm.userData.userName" />
                <input name="password" placeholder="Password" data-ng-model="vm.userData.password" />
                <input name="confirmPassword" placeholder="Password" data-ng-model="vm.userData.confirmPassword" />
                <input type="button" id="registerUser" value="Register" data-ng-click="vm.registerUser()" />
                <input type="button" id="logniUser" value="Login" data-ng-click="vm.loginUser()" />
            </div>

            <button id="getValues" data-ng-click="vm.getValues()">Get Values</button>

            <ul>
                <li data-ng-repeat="v in vm.values">
                    <div>
                        <strong>{{v}}</strong>
                    </div>
                </li>
            </ul>

        </div>
        <script src="~/Scripts/angular.js"></script>
        <script src="~/Scripts/auth/app.js"></script>
        <script src="~/Scripts/auth/mainCtrl.js"></script>
        <script src="~/Scripts/auth/userAccountService.js"></script>
    </body>
</html>