@{
    Layout = null;
}
<div ng-controller="TreeController" class="tree">
    <div>
        <ul>
            <li>
                <a href="#/tree">{{ data.treenode }}</a>
                <ul>
                    <li ng-repeat="item in data.childnodes track by $index" ng-include="'/home/treenodes'"></li>
                </ul>
            </li>
        </ul>
    </div>
    <p>
        <input type="number" name="name" value=" " ng-model="newVal" />
<button data-ng-click="add(newVal)" type="button" class="btn btn-info">Insert value in tree</button>
    </p>

</div>

<div style="clear:both;"></div>
<p></p>

